<%= form_with(model: applicant) do |form| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
        <% applicant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :required => true%>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, :required => true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :required => true %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, :required => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
