

<%= form_with(model: @application) do |form| %>
  <div class="field">
    <%= form.label :property_id, "Property ID" %>
    <%= form.text_field :property_id, :value => @property.id, :readonly => true %>
  </div>
  <div class="field">
    <%= form.label :applicant_id, "Applicant" %>
    <%= form.select :applicant_id, @all_applicants.all.collect {|x| [x.name, x.id]} %>
  </div>
  <div class="actions">
    <%= form.submit(:data => {:property => @property}) %>
  </div>
<% end %>
